 .first{
    background-image: url('../images/Banner Image.png');
    background-size: 100% 100% ;
    background-position: center;
    padding: 100px 10px;
    color: #FFFFFF;
   margin-left:50px ;
   margin-right:50px ;
   margin-top: 30px;
   
   
}
   .banner h6{
     margin: 0px;
     font-size: 20px;
   }
   .banner h1 {
    gap

   }
.text {
   text-align: center;
  
   }
 .position {
   font-size: 32px;
    margin-top: -90px;
    line-height: 20px;
}
/* second style */
.second{
    text-align: center;
    line-height: 20px;
    padding: 60px;
}
.red{
    color: red;
    font-size: 60px;
}
.main{
    align-items: center;
    margin-top: 10px;
 
}