 .first{
    background-image: url('../images/Banner Image.png');
    background-size: 100% 100% ;
    background-position: center;
    padding: 100px 10px;
    color: #FFFFFF;
   margin-left:50px ;
   margin-right:50px ;
   margin-top: 30px;
   
   
}
   .banner h6{
     margin: 0px;
     font-size: 20px;
   }
   .banner h1 {
    gap

   }
.text {
   text-align: center;
  
   }
 .position {
   font-size: 32px;
    margin-top: -90px;
    line-height: 20px;
}
/* second style */
.second{
    text-align: center;
    line-height: 20px;
    padding: 60px;
}
.red{
    color: red;
    font-size: 60px;
}
.main{
    align-items: center;
    margin-top: 10px;
 
}
.third{
  background-image:  url('../images/Vectorrr.png');
  width: 100%,200px;
  background-size: 100% 100%;
  background-position: center;
   padding: 100px 10px;
   line-height: 20px;
   color: white;
   margin-left: 40px;
   margin-right: 40px;
}
.body{
  margin-left: 40px;
  
}

 #btn
  {
    background-color:black;
    color: #FFFFFF;
    backdrop-filter: blur;
  }
  .fourth{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    line-height: 50px;
    text-align: center;
    background-color:rgba(236, 193, 193, 0.753)
    
  }
span{
  color: red;
}